// Body
$body-bg: #f8fafc;

// Sizes.
$header-height: 50px;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Breakpoints.
$xs: "(max-width:575px)";
$sm: "(max-width:767px)";
$md: "(max-width:991px)";
$lg: "(max-width:1200px)";
$xlg: "(min-width:1201px)";

// Colors
$white: #fff;
$black: #000;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
